*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog_page_frame{
    margin-top: 63px;
    padding-inline: 15vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.blog_view_frame{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    height: 90vmin;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.blog_view_frame::-webkit-scrollbar{
    display: none;
}
.create_blog_btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.blog_page_search{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:500px) {
    .blog_page_frame{
        padding-inline: 3vmax;
    }
    .blog_view_frame{
        height: 100vmax;
    }
}
