.carousel_frame{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}
.carousel_slides{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.carousel_btn{
    font-size: 1rem;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,0.2);
    color: white;
}