:root{
    --orange:orange;
    --white:white;
    --light-black:rgba(0, 0, 0,0.2);
}
.navbar{
    display: flex;
    align-items: center;
    padding:1rem;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: var(--white);
    /* box-shadow: 0px 0px 4px black; */
}
.logo{
    font-size: large;
}
.nav_links{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.nav_links > li{
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
}
.link{
    text-decoration: none;
    color: var(--orange);
    font-size: 1.1rem; 
    padding: 0.2em 0.8em;
    border-radius: 1em; 
}
.active{
    color: var(--white);
    background-color: var(--light-black);
}
.link:hover{
    background-color: var(--light-black);
}
#blogs{
    background-color: var(--orange);
    border-radius: 1rem;
    color: var(--white);
}
#blogs:hover{
    background-color: var(--white);
    color: var(--orange);
}
@media only screen and (max-width:550px) {
   .nav_links{
    display: none;
   }
}
