:root{
    --orange:var(--theme-color);
    --white:white;
    --light-black:rgba(0, 0, 0,0.2);
}
.navbar{
    display: flex;
    align-items: center;
    padding:0.8rem;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: var(--white);
    backdrop-filter: blur(5px);
    z-index: 2000;
    gap: 1rem;
}
.logo_holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: large;
    color: var(--theme-color);
}
.nav_links,.nav_links_mobile{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.nav_links > li,.nav_links_mobile > li{
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.link{
    text-decoration: none;
    color: var(--theme-color);
    font-size: 1.1rem;
    padding: 0.2em 0.8em;
    border-radius: 1em;
}
.active{
    background-color: var(--white);
    color: var(--theme-color);
}
.link:hover{
    background-color: var(--white);
}
#blogs{
    background-color: var(--theme-color);
    border-radius: 1rem;
    color: var(--white);
}
#blogs:hover{
    background-color: var(--white);
    color: var(--theme-color);
}
.dark_mode_btn{
    background-color: transparent;
    border: none;
    color: var(--theme-color);
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 0.3em 0.5em;
}
.dark_mode_btn:hover{
    color: white;
    background-color: var(--theme-color);
}
.hamburger_menu{
    display: none;
    align-self: flex-end;
    border: none;
    color: var(--theme-color);
    font-size: 1.5rem;
    background: transparent;
}
.nav_links_mobile{
    display: none;
}
@keyframes slidedown {
    from{
        opacity: 0;
        transform: translateY(-360px);
    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media only screen and (max-width:750px) {
    .navbar{
        flex-direction: column;
        align-items: normal;
    }
    .nav_links{
        display: none;
    }
    .hamburger_menu{
        display: block;
    }
    .nav_links_mobile{
    flex-direction: column;
    backdrop-filter: blur(20px);
    display: flex;
   }
}
